<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgetbuddy Aplicación</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_tasks.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Metas Financieras ˅</a>
                <div class="dropdown-content">
                    <a href="/tasks/create/">Crear Meta</a>
                    <a href="/tasks">Metas Pendientes</a>
                    <a href="/tasks-completadas">Metas Completadas</a>
                </div>
            </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Calculadoras ˅</a>
                    <div class="dropdown-content">
                        <a href="/cuotas">Calculadora de Cuotas</a>
                        <a href="/propinas">Calculadora de Propinas</a>
                    </div>
                </li>
                <li><a href="/compras">Presupuesto para Compras</a></li>
                <li><a href="/prestamos">Recordatorio de prestamos</a></li>
                <li><a href="/graficas">Grafica de ingresos</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            {% else %}
                <li><a href="/signup">Registrarse</a></li>
                <li><a href="/signin">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
