<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgetbuddy aplicacion</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/tasks">tasks pendientes</a>
            </li>
            <li>
                <a href="/tasks-completadas">tasks completadas</a>
            </li>
            <li>
                <a href="/tasks/create/">Crear task</a>
            </li>
            <li>    
                <a href="/logout">logout</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">signup</a>
            </li>
            <li>
                <a href="/signin">signin</a>
            </li>
            <li>
                <a href="/cuotas">Calculadora de cuotas</a>
            </li>
            <li>
                <a href="/propinas">Calculadora de propinas</a>
            </li>
            <li>
                <a href="/compras">Presupuesto para compras</a>
            </li>
            
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>