<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Calculadora de cuotas</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/propinas.css' %}" </head>
</head>

<body>
  <div>
    <a href="/">Volver al home</a>
    </div>
  <h1>Calculadora de Cuotas</h1>
  <form id="cuotaForm">
    <label for="precio">Monto total:</label><br>
    <input type="text" id="precio" name="precio"><br>
    <label for="porcentaje">Tasa de interes anual (%):</label><br>
    <input type="text" id="porcentaje" name="porcentaje">
    <label for="cantidad">Cantidad de cuotas:</label><br>
    <input type="text" id="cantidad" name="cantidad">
    <button type="button" onclick="calcularCuotas()">Calcular</button>
  </form>

  <div id="resultado"></div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="footer-content">
          <h3>Información de contacto</h3>
          <p>Dirección: Calle Principal #123, Ciudad, País</p>
          <p>Teléfono: +123 456 789</p>
          <p>Correo electrónico: info@example.com</p>
        </div>
        <div class="footer-content">
          <h3>Información legal</h3>
          <p>Derechos de autor © 2024. Todos los derechos reservados.</p>

        </div>
      </div>
    </div>
  </footer>

  <script>
    function calcularCuotas() {
      // Obtener los valores del monto total, tasa de interés anual y cantidad de cuotas
      var montoTotal = parseFloat(document.getElementById("precio").value);
      var tasaInteresAnual = parseFloat(document.getElementById("porcentaje").value);
      var cantidadCuotas = parseFloat(document.getElementById("cantidad").value);
      var resultadoElement = document.getElementById("resultado");

      //Validación de los datos
      if (isNaN(montoTotal) || isNaN(tasaInteresAnual) || isNaN(cantidadCuotas) || montoTotal.trim === "" || tasaInteresAnual.trim === "" || cantidadCuotas.trim === ""){
        resultadoElement.innerHTML = "Datos invalidos. Por favor, introduce números válidos.";
        resultadoElement.style.fontSize = "40px"; // Tamaño del texto
        resultadoElement.style.fontWeight = "bold"; // Grosor del texto
        resultadoElement.style.textAlign = "center"; // Centrar el texto
        resultadoElement.style.color = "red";
        return;
      }

      // Calcular la tasa de interés mensual
      var tasaInteresMensual = tasaInteresAnual / 12 / 100;

      // Calcular el monto de la cuota
      var montoCuota = montoTotal * tasaInteresMensual / (1 - Math.pow(1 + tasaInteresMensual, -cantidadCuotas));

      // Mostrar el resultado debajo del formulario
      resultadoElement.innerHTML = "Monto de la cuota: $" + montoCuota.toFixed(2);
      resultadoElement.style.fontSize = "40px"; // Tamaño del texto
      resultadoElement.style.fontWeight = "bold"; // Grosor del texto
      resultadoElement.style.textAlign = "center"; // Centrar el texto
      resultadoElement.style.color = "black";
    }


  </script>
</body>

</html>