{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem beatae culpa neque, cumque fugiat dolor? Aperiam fuga placeat beatae, consectetur ratione minima, mollitia nisi dolore esse autem reprehenderit facere voluptate inventore earum nemo quisquam delectus reiciendis officia cum eum repudiandae porro? Adipisci, molestiae praesentium repellendus neque necessitatibus recusandae odio dolorum et vitae, iusto vel, vero nulla magnam quasi dolores at dignissimos ducimus voluptatum. Delectus maxime exercitationem consectetur reprehenderit quos est corrupti officia doloribus molestias totam amet fugit dolor, accusantium neque, eum officiis nihil? Non laboriosam repudiandae quos vero error eveniet sit! Et sit a vel sed iure sint, nisi officiis?</p>
{% endblock %}