{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block extra_css %}
{% endblock %}
{% block content %}
<div class="hero">
    <div class="hero-text">
        <h1>Maneja tus finanzas adecuadamente</h1>
        <p>Realiza un seguimiento a tus ingresos, gastos y presupuestos. Todo en un solo lugar con un método amigable y flexible.</p>
        <a href="/signin" class="cta-button">Comienza aquí</a>
    </div>
    <div class="hero-image">
        <img src="{% static 'images/homeimg.webp' %}" alt="Finanzas App">
    </div>
</div>
{% endblock %}