{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block extra_css %}
{% endblock %}
{% block content %}
<div class="hero">
    <div class="hero-text">
        <h1>Maneja tus finanzas adecuadamente</h1>
        <p>Realiza un seguimiento a tus ingresos, gastos y presupuestos. Todo en un solo lugar con un método amigable y flexible.</p>
        <a href="/signin" class="cta-button">Comienza aquí</a>
    </div>
    <div class="hero-image">
        <img src="{% static 'images/homeimg.webp' %}" alt="Finanzas App">
    </div>
</div>
<header>
    <h1 class="center-title">Consejos Financieros</h1>
</header>

<div class="card-container">
    <div class="card">
        <div class="card-face card-front">
            <h2>1. Darle un trabajo a cada dólar</h2>
        </div>
        <div class="card-face card-back">
            <p>Establece un presupuesto mensual y destina una parte de tus ingresos al ahorro. Puedes automatizar transferencias a tu cuenta de ahorros para hacerlo más fácil.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-face card-front">
            <h2>2. Acepta tus gastos reales</h2>
        </div>
        <div class="card-face card-back">
            <p>Identifica y prioriza el pago de tus deudas. Utiliza estrategias como el método de bola de nieve o el método de avalancha para reducir tus deudas de manera eficiente.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-face card-front">
            <h2>3. Aceptar los golpes</h2>
        </div>
        <div class="card-face card-back">
            <p>Diversifica tus inversiones para minimizar riesgos. Consulta con un asesor financiero para identificar las mejores opciones de inversión según tus objetivos y tolerancia al riesgo.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-face card-front">
            <h2>4. Envejezca su dinero</h2>
        </div>
        <div class="card-face card-back">
            <p>Analiza tus gastos mensuales y recorta aquellos que no sean esenciales. Esto te permitirá ahorrar más y utilizar tu dinero de manera más eficiente.</p>
        </div>
    </div>
</div>

{% endblock %}
