{% extends 'base.html' %}  <!-- Extiende desde la plantilla base 'base.html' -->

{% load static %}  <!-- Carga los archivos estáticos -->

{% block extra_css %}  <!-- Bloque para cargar CSS adicional -->
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">  <!-- Enlace al archivo CSS para estilos de lista de tareas -->
{% endblock %}

{% block content %}  <!-- Bloque de contenido -->
<h1>Metas Financieras</h1>  <!-- Título principal -->

<ul class="metas">  <!-- Lista de metas financieras -->
    {% for task in tasks %}  <!-- Itera sobre cada tarea en 'tasks' -->
    <li class="{% if task.date_completed %}completada{% else %}pendiente{% endif %}">  <!-- Elemento de la lista, clase dependiendo si está completada o no -->
        <a href="{% url 'detalles_task' task.id %}">  <!-- Enlace al detalle de la tarea -->
            {% if task.important %}  <!-- Si la tarea es importante -->
            <strong>{{ task.title }}</strong>  <!-- Mostrar el título en negrita -->
            {% else %}
                {{ task.title }}  <!-- Mostrar el título normalmente -->
            {% endif %}
            
            <p>{{ task.date_completed|date:'M j, Y H:i' }}</p>  <!-- Fecha de completado formateada -->
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
